.navbar{
    display: flex;
    justify-content:space-around;
    align-items:center;
    background-color:black;
    color: white;
}

.navbar button{
    background-color: white;
    height:80%;
    padding:10px;
   
}


.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.users{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display:none;

}


.user{
    border: 3px solid black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:280px;
    padding:20px;;
    margin:10px;
}

.user-image{
    width:100%;
    text-align: center;
}

.user img{
    width:90%;
}

.user button{
    padding:8px;
    border:2px solid black;
    color: white;
    border-radius:3px;
    background-color:black;
    cursor: pointer;
}

.message{
    text-align: center;
}

.search-field{
    display: flex;
    justify-content: center;
}

.user-modal{
    border:3px solid red;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:100vw;
    height:100vh;
    display: flex;
    justify-items: center;
    align-items: center;
    display: none;

}


.user-modal-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    width:50%;
    height:70%;
    margin: 0 auto;
    background-color:rgba(128,128,128,0.8);
 
}
.user-modal-details img{

    width: 300px;


}