.navbar{
    display: flex;
    justify-content:space-around;
    align-items:center;
    background-color:black;
    color: white;
}

.navbar button{
    background-color: white;
    height:80%;
    padding:10px;
   
}


.about{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding:80px;
}


.albums{

    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.album{
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid lightgrey;
    border-radius: 4px;
    margin:15px;
}

.album .thumbnail{
    width:100%;
}

.album .thumbnail img{
    height:100%;
    width:100%;
}

.album .details p{
    text-align: center;
}

.album .details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.album .details .details-footer{

    width:100%;
    display: flex;
    justify-content: space-between;
    padding:5px;
}